.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.navbar-logo-center-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: transparent;
}

.navbar-logo-center-container.shadow-three {
  width: 100%;
  max-width: 1140px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-wrapper-three {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand-three {
  position: absolute;
  z-index: 5;
}

.nav-menu-wrapper-three {
  width: 100%;
}

.nav-menu-three {
  display: flex;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-block {
  display: flex;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
}

.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-link:focus-visible {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-link[data-wf-focus-visible] {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown {
  margin-right: 5px;
  margin-left: 5px;
}

.nav-dropdown-toggle {
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-dropdown-toggle:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  border-radius: 12px;
  background-color: #fff;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-link-accent {
  margin-right: 20px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, 0.75);
}

.button-primary {
  padding: 12px 25px;
  background-color: #1a1b1f;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary:active {
  background-color: #43464d;
}

.hero-stack {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.hero-wrapper-two {
  display: flex;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.hero-image {
  width: 100%;
  margin-top: 50px;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 20px;
  background-color: transparent;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-two {
  display: flex;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: center;
}

.nav-link-2 {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link-2:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-link-2:focus-visible {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-link-2[data-wf-focus-visible] {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-2 {
  margin-right: 5px;
  margin-left: 5px;
}

.nav-dropdown-toggle-2 {
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.nav-dropdown-toggle-2:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-dropdown-toggle-2:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-toggle-2[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-icon-2 {
  margin-right: 10px;
}

.nav-dropdown-list-2 {
  border-radius: 12px;
  background-color: #fff;
}

.nav-dropdown-list-2.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link-2 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link-2:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-link-2[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #e4ebf3;
}

.nav-link-accent-2 {
  margin-right: 20px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link-accent-2:hover {
  color: rgba(26, 27, 31, 0.75);
}

.button-primary-2 {
  padding: 12px 25px;
  background-color: #1a1b1f;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary-2:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary-2:active {
  background-color: #43464d;
}

.section {
  width: 100%;
  height: 9%;
  padding-top: 61%;
  background-image: url('../images/manager.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.container-4 {
  height: Infinity%;
  margin-top: -34%;
}

.heading-16 {
  width: 70%;
  margin-top: 47px;
  margin-bottom: auto;
  margin-left: 28%;
  padding-right: 215px;
  padding-left: 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 48px;
  text-align: left;
}

.bold-text-11 {
  display: flex;
  margin-left: 90px;
  justify-content: flex-start;
}

.column-11 {
  height: 600px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url('../images/ddddggggdfddddd-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.paragraph-6 {
  margin-top: 69px;
  margin-left: 170px;
  padding-top: 0px;
  padding-right: 103px;
  padding-left: 0px;
  color: #1c2e3b;
  text-align: justify;
}

.heading-13 {
  margin-top: 31px;
  margin-left: 165px;
  color: #1c2e3b;
}

.bold-text-14 {
  color: #e7b122;
}

.column-12 {
  margin-top: 28px;
  padding-bottom: 0px;
}

.columns-7 {
  margin-top: 31px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.text-span-3 {
  color: #c79414;
}

.list-item {
  margin-top: 37px;
}

.list {
  color: #1c2e3b;
  font-size: 18px;
}

.text-span-15 {
  color: #e7b122;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-top: 6px;
  margin-right: auto;
  margin-left: 251px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.heading-3 {
  margin-top: -753px;
  color: #1c2e3b;
}

.text-span-4 {
  color: #e7b122;
}

.gallery-image {
  width: 100%;
}

.gallery-image.shadow-two {
  display: block;
  width: 500px;
  height: 500px;
  margin-top: 85px;
  margin-left: 142px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
}

.text-span-5 {
  color: #e7b122;
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  margin-left: -124px;
  grid-auto-columns: 1fr;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.gallery-image-wrapper {
  position: relative;
}

.text-span-14 {
  color: #e7b122;
}

.gallery-wrapper {
  display: flex;
  margin-top: -1600px;
  margin-left: -310px;
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button-2 {
  margin-top: 5px;
  margin-left: 257px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  color: #1c2e3b;
  font-size: 16px;
  text-transform: uppercase;
}

.gallery-image-text {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -37px;
  margin-top: 9px;
  margin-bottom: 0px;
  margin-left: 127px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.container-5 {
  margin-top: 5px;
  padding-top: 877px;
  padding-bottom: 78px;
}

.section-2 {
  padding-bottom: 13px;
  background-color: #e7b122;
}

.text-block-7 {
  margin-top: -148px;
  margin-right: auto;
  margin-left: 153px;
  padding-top: 0px;
  padding-right: 27px;
  padding-left: 125px;
  font-size: 15px;
  text-align: justify;
}

.bold-text-3 {
  display: inline;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  color: #1c2e3b;
  text-align: left;
}

.text-span-6 {
  color: #fff;
}

.text-span-7 {
  color: #fff;
}

.image-4 {
  display: block;
  margin: -270px auto 21px;
  padding: 0px;
  text-align: left;
}

.columns-8 {
  padding-top: 186px;
}

.heading-5 {
  display: inline-block;
  margin-top: 90px;
  margin-left: auto;
  padding-top: 0px;
}

.bold-text-2 {
  margin-left: 295px;
  font-size: 45px;
}

.text-span-2 {
  display: inline-block;
  margin-left: -293px;
  color: #fff;
}

.image-5 {
  display: inline-block;
  width: 142px;
  height: 142px;
  margin-top: -410px;
  margin-left: 442px;
}

.bold-text-9 {
  display: block;
  padding-left: 0px;
  color: #1c2e3b;
}

.paragraph {
  width: 200px;
  margin-top: 32px;
}

.column-5 {
  margin-top: 103px;
}

.columns {
  margin-top: 12px;
  margin-left: 19px;
  color: #1c2e3b;
}

.image-6 {
  width: 142px;
  margin-left: 121px;
}

.column {
  margin-top: -2px;
  padding-left: 197px;
}

.text-block-12 {
  margin-top: -148px;
  margin-right: -338px;
  margin-left: 460px;
}

.image-7 {
  width: 142px;
  margin-left: 154px;
}

.bold-text-4 {
  margin-left: 184px;
}

.heading-8 {
  padding-top: 0px;
}

.bold-text-6 {
  margin-left: 2px;
}

.text-block-10 {
  margin-right: -153px;
  margin-left: 136px;
}

.bold-text-5 {
  text-align: center;
}

.columns-2 {
  margin-top: 58px;
  margin-left: 20px;
  color: #1c2e3b;
}

.text-block-11 {
  margin-right: -103px;
  margin-left: 149px;
}

.text-block-13 {
  margin-right: -357px;
  margin-left: 417px;
}

.image-10 {
  width: 142px;
  margin-left: 154px;
}

.image-8 {
  width: 142px;
  margin-left: 437px;
}

.text-block-9 {
  margin-left: 157px;
}

.image-9 {
  width: 142px;
  margin-left: 120px;
}

.column-2 {
  padding-left: 197px;
}

.section-3 {
  margin-top: 23px;
  padding-bottom: 296px;
  background-image: url('../images/preventative-maintenance-package.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.section-4 {
  margin-top: -13px;
  padding-top: 299px;
}

.text-span-8 {
  color: #e7b122;
}

.columns-4 {
  height: 200px;
  margin-top: -280px;
}

.heading-10 {
  display: block;
  margin-top: -270px;
  align-items: flex-start;
  font-size: 60px;
  text-align: center;
}

.heading-11 {
  color: #fff;
  font-size: 60px;
  text-align: center;
}

.paragraph-2 {
  margin-top: -299px;
  margin-left: 118px;
  padding-right: 135px;
  color: #1c2e3b;
  font-size: 16px;
  font-weight: 700;
  text-align: justify;
}

.column-7 {
  margin-top: 3px;
  padding-top: 405px;
}

.bold-text-10 {
  color: #fff;
}

.column-6 {
  padding-top: 404px;
  background-color: #e7b122;
}

.column-8 {
  padding-top: 831px;
  background-image: url('../images/collage-customer-experience-concept_edited.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.heading-15 {
  display: block;
  margin-top: -761px;
  margin-right: -84px;
  margin-left: 19px;
  padding-right: 0px;
  padding-left: 0px;
  color: #e7b122;
  font-size: 50px;
  font-weight: 400;
}

.paragraph-4 {
  margin-top: -575px;
  margin-right: 78px;
  margin-left: 13px;
  color: #1c2e3b;
  font-size: 16px;
  text-align: justify;
}

.column-9 {
  padding-top: 637px;
}

.columns-5 {
  padding-top: 209px;
}

.bold-text-12 {
  display: inline-block;
  margin-left: 69px;
  font-size: 50px;
}

.columns-6 {
  margin-top: -385px;
  margin-bottom: 40px;
  padding-top: 19px;
  padding-bottom: 12px;
}

.text-block-18 {
  margin-left: 85px;
  color: #fff;
}

.column-10 {
  display: flex;
}

.image-11 {
  margin-left: 133px;
  text-align: center;
}

.text-block-21 {
  margin-left: 217px;
  color: #fff;
}

.section-5 {
  margin-top: 385px;
  padding-bottom: 14px;
  background-color: #1c2e3b;
}

.div-block-2 {
  margin-top: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  opacity: 0.2;
  color: #fff;
}

.text-block-22 {
  display: flex;
  margin-top: 27px;
  justify-content: center;
  color: #e7b122;
}

.paragraph-5 {
  display: inline-block;
  margin-top: 34px;
  margin-right: 94px;
  margin-left: 256px;
  padding-right: 136px;
  padding-left: 0px;
  color: #fff;
  font-size: 12px;
  text-align: justify;
}

.section-6 {
  padding-top: 348px;
  background-image: url('../images/preventative-maintenance-package.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.container-6 {
  margin-top: -161px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 38px;
  background-color: #fff;
}

.heading-17 {
  margin-left: 126px;
}

.text-block-23 {
  display: block;
  margin-right: 40px;
  margin-left: 130px;
  padding-right: 155px;
  font-size: 15px;
}

.div-block-4 {
  margin-top: 58px;
  padding-top: 1px;
  background-color: #e7b122;
}

.bold-text-19 {
  color: #1c2e3b;
  font-size: 16px;
}

.bold-text-16 {
  color: #1c2e3b;
  text-align: justify;
}

.paragraph-8 {
  margin-top: 18px;
  text-align: justify;
}

.heading-19 {
  margin-top: 57px;
  font-size: 30px;
  text-align: center;
}

.heading-18 {
  margin-top: -477px;
  margin-bottom: 0px;
  font-size: 25px;
  text-align: center;
}

.container-7 {
  margin-top: 629px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.div-block-5 {
  margin-top: 64px;
  padding-bottom: 1px;
  background-color: #e7b122;
}

.column-16 {
  padding-top: 365px;
  padding-bottom: 22px;
}

.button-3 {
  margin-top: 61px;
  margin-left: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: #e7b122;
  text-align: center;
  text-transform: uppercase;
}

.columns-9 {
  margin-top: 24px;
  margin-left: auto;
}

.button-4 {
  margin-top: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: #e7b122;
}

.column-14 {
  margin-top: -8px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.bold-text-17 {
  color: #e7b122;
  font-size: 30px;
  text-align: center;
}

.image-14 {
  margin-top: -439px;
  margin-left: 504px;
}

.paragraph-7 {
  margin-top: 42px;
  margin-left: auto;
  padding-left: 0px;
  color: #1c2e3b;
  font-size: 16px;
  text-align: justify;
}

.bold-text-18 {
  color: #1c2e3b;
  font-size: 16px;
}

.column-15 {
  margin-top: 31px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.columns-10 {
  margin-top: 26px;
}

.section-7 {
  margin-top: 447px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  background-color: #1c2e3b;
}

.column-17 {
  display: flex;
}

.image-15 {
  margin-left: 105px;
  text-align: center;
}

.text-block-24 {
  margin-left: 217px;
  color: #fff;
}

.div-block-6 {
  margin-top: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  opacity: 0.2;
  color: #fff;
}

.text-block-25 {
  display: flex;
  margin-top: 27px;
  justify-content: center;
  color: #e7b122;
}

.text-block-26 {
  display: flex;
  margin-top: 27px;
  justify-content: center;
  color: #e7b122;
}

.paragraph-9 {
  display: inline-block;
  margin-top: 34px;
  margin-right: 94px;
  margin-left: 256px;
  padding-right: 136px;
  padding-left: 0px;
  color: #fff;
  font-size: 12px;
  text-align: justify;
}

.navbar-logo-left-container-2 {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 20px;
  background-color: transparent;
}

.navbar-logo-left-container-2.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-8 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-wrapper-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-two-2 {
  display: flex;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: center;
}

.nav-link-3 {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link-3:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-link-3:focus-visible {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-link-3[data-wf-focus-visible] {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-3 {
  margin-right: 5px;
  margin-left: 5px;
}

.nav-dropdown-toggle-3 {
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.nav-dropdown-toggle-3:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-dropdown-toggle-3:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-toggle-3[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-icon-3 {
  margin-right: 10px;
}

.nav-dropdown-list-3 {
  border-radius: 12px;
  background-color: #fff;
}

.nav-dropdown-list-3.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link-3 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link-3:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-link-3[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-divider-2 {
  width: 1px;
  height: 22px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #e4ebf3;
}

.nav-link-accent-3 {
  margin-right: 20px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link-accent-3:hover {
  color: rgba(26, 27, 31, 0.75);
}

.button-primary-3 {
  padding: 12px 25px;
  background-color: #1a1b1f;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary-3:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary-3:active {
  background-color: #43464d;
}

.section-8 {
  padding-top: 348px;
  background-image: url('../images/preventative-maintenance-package.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.container-9 {
  margin-top: 623px;
  padding-top: 0px;
}

.div-block-7 {
  padding-top: 8px;
}

.container-10 {
  margin-top: 16px;
  margin-bottom: 0px;
  padding-top: 512px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.image-16 {
  display: inline-block;
  margin-top: 15px;
  margin-left: 195px;
}

.image-17 {
  margin-top: -6px;
  padding-top: 0px;
}

.bold-text-20 {
  color: #e7b122;
}

.text-span-16 {
  color: #e7b122;
}

.bold-text-21 {
  color: #e7b122;
}

.text-span-17 {
  color: #e7b122;
}

.section-9 {
  padding-top: 348px;
  background-image: url('../images/preventative-maintenance-package.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.bold-text-22 {
  color: #e7b122;
}

.text-span-18 {
  color: #e7b122;
}

.section-10 {
  padding-top: 348px;
  background-image: url('../images/preventative-maintenance-package.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.text-span-19 {
  color: #e7b122;
}

.text-span-20 {
  color: #e7b122;
}

.section-11 {
  padding-top: 348px;
  background-image: url('../images/preventative-maintenance-package.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.text-span-21 {
  color: #e7b122;
}

.container-11 {
  padding-top: 567px;
  padding-bottom: 0px;
}

.heading-20 {
  display: flex;
  margin-top: -493px;
  margin-left: 381px;
  padding-right: 0px;
  padding-left: 0px;
  justify-content: flex-start;
  align-items: baseline;
  color: #c79414;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.paragraph-10 {
  display: inline-block;
  margin-top: 54px;
  margin-right: 47px;
  margin-left: 118px;
  padding-right: 69px;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  font-size: 16px;
  text-align: justify;
}

.section-12 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.columns-11 {
  margin-top: -402px;
}

.column-18 {
  padding-top: 424px;
}

.image-18 {
  width: 550px;
  height: 450px;
  margin-top: -556px;
}

.heading-21 {
  text-align: center;
}

.text-span-22 {
  color: #c79414;
}

.bold-text-23 {
  color: #1c2e3b;
}

.column-19 {
  padding-top: 94px;
  padding-bottom: 0px;
}

.column-20 {
  padding-top: 194px;
  padding-bottom: 344px;
  background-image: url('../images/abstract-app-social-web-service-.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.text-span-23 {
  color: #c79414;
}

.bold-text-24 {
  text-align: left;
}

.heading-22 {
  margin-top: 39px;
  text-align: center;
}

.paragraph-11 {
  margin-top: 62px;
  margin-right: 43px;
  margin-left: 81px;
  padding-right: 55px;
  padding-left: 0px;
  text-align: justify;
}

.column-21 {
  margin-top: -59px;
  padding-top: 483px;
  background-image: url('../images/young-man-engineer-making-progra.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.column-22 {
  margin-top: 3px;
  padding-top: 321px;
}

.heading-23 {
  margin-top: -296px;
}

.heading-24 {
  margin-top: -339px;
  margin-left: 39px;
}

.text-span-24 {
  color: #c79414;
}

.text-span-25 {
  color: #c79414;
}

.text-span-26 {
  color: #c79414;
}

.paragraph-12 {
  margin-top: 67px;
  margin-right: 42px;
  margin-left: 47px;
  padding-right: 99px;
  padding-left: 0px;
  color: #1c2e3b;
  text-align: justify;
}

.column-23 {
  padding-top: 526px;
}

.column-24 {
  padding-top: 526px;
  background-image: url('../images/workman-store-house-orange-helme.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.heading-25 {
  margin-top: -442px;
  margin-right: -21px;
  margin-left: 37px;
  padding-right: 84px;
}

.paragraph-13 {
  margin-top: 71px;
  margin-left: auto;
  padding-right: 128px;
  padding-bottom: 98px;
  padding-left: 33px;
  text-align: justify;
}

.container-12 {
  padding-right: 0px;
  padding-left: 94px;
}

.bold-text-25 {
  padding-left: 0px;
  color: #1c2e3b;
}

.text-span-27 {
  color: #c79414;
}

.text-span-28 {
  color: #c79414;
}

.text-span-29 {
  color: #c79414;
}

.text-span-30 {
  color: #1c2e3b;
}

.bold-text-26 {
  color: #c79414;
}

.text-span-31 {
  color: #1b1010;
}

.bold-text-27 {
  color: #c79414;
}

.container-13 {
  padding-top: 386px;
}

.paragraph-14 {
  margin-top: -258px;
  margin-right: 12px;
  margin-left: 248px;
  padding-right: 110px;
}

.paragraph-15 {
  margin-top: -262px;
  margin-left: -18px;
  padding-right: 93px;
  padding-left: 117px;
  color: #1c2e3b;
  text-align: justify;
}

.section-13 {
  padding-top: 396px;
  background-color: #1c2e3b;
}

.heading-26 {
  margin-top: -271px;
  margin-left: 87px;
}

.heading-27 {
  margin-top: -303px;
  margin-left: 100px;
  padding-top: 0px;
}

.paragraph-16 {
  margin-top: 63px;
  margin-left: 67px;
  padding-right: 86px;
  padding-left: 36px;
}

.bold-text-28 {
  margin-left: -555px;
  color: #c79414;
}

.text-span-32 {
  color: #c79414;
}

.text-span-33 {
  color: #c79414;
}

.column-25 {
  padding-top: 433px;
  background-image: url('../images/data-analysis-business-finance-c.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.column-26 {
  padding-top: 435px;
}

.heading-28 {
  margin-top: -508px;
}

.paragraph-17 {
  padding-right: 250px;
}

.paragraph-18 {
  margin-top: 66px;
  margin-left: -147px;
  padding-right: 150px;
  padding-left: 190px;
  text-align: justify;
}

.heading-29 {
  margin-top: -366px;
  margin-left: 19px;
  text-align: center;
}

.columns-12 {
  padding-top: 0px;
}

.column-27 {
  padding-top: 555px;
  background-image: url('../images/how-is-your-deals-group-people-b-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.column-28 {
  padding-top: 554px;
}

.heading-30 {
  margin-top: -453px;
}

.heading-31 {
  margin-top: -405px;
  margin-left: 39px;
}

.paragraph-19 {
  margin-top: 8px;
  margin-right: 42px;
  margin-left: 47px;
  padding-top: 44px;
  padding-right: 99px;
  text-align: justify;
}

.columns-13 {
  margin-top: 186px;
}

.column-29 {
  padding-top: 537px;
}

.column-30 {
  padding-top: 535px;
  background-image: url('../images/business-people-shaking-hands-gr.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.heading-32 {
  margin-top: -242px;
  margin-left: 622px;
  padding-top: 0px;
}

.paragraph-20 {
  margin-top: -225px;
  margin-left: 72px;
  padding-right: 159px;
  padding-left: 0px;
  color: #1c2e3b;
  text-align: justify;
}

.section-14 {
  padding-top: 619px;
}

.columns-14 {
  margin-top: -521px;
}

.column-31 {
  padding-top: 561px;
}

.column-32 {
  padding-top: 556px;
}

.heading-33 {
  margin-top: -485px;
  font-size: 70px;
}

.heading-34 {
  margin-top: -524px;
  margin-left: 163px;
  color: #1c2e3b;
  font-size: 70px;
  font-weight: 400;
}

.text-block-27 {
  padding-top: 98px;
}

.text-block-28 {
  margin-top: 98px;
  margin-left: 220px;
  font-size: 18px;
}

.text-block-29 {
  margin-top: 84px;
  margin-left: 168px;
  font-size: 18px;
}

.column-33 {
  padding-top: 551px;
}

.column-34 {
  padding-top: 551px;
}

.heading-35 {
  margin-top: -545px;
  color: #1c2e3b;
  font-size: 30px;
}

.combine-form_error-message {
  margin-top: 0.5rem;
  padding: 0.5rem 1.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: #e2004f;
  border-radius: 0.25rem;
  background-color: #ffecec;
  color: #e2004f;
  font-size: 0.875rem;
}

.combine-form_success-message {
  padding: 0.5rem 1.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: #6d9400;
  border-radius: 0.25rem;
  background-color: #ebf7de;
  color: #6d9400;
  font-size: 0.875rem;
  text-align: left;
}

.combine-button {
  padding: 0.75rem 1.75rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color: #e7b122;
  transition-property: background-color;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.combine-button:hover {
  background-color: rgba(40, 54, 74, 0.9);
}

.combine-form_link {
  color: #6157f8;
  text-decoration: underline;
}

.combine-form_link:hover {
  color: #472def;
}

.combine-form_checkbox-label {
  margin-bottom: 0.125rem;
  font-family: 'Open Sans', sans-serif;
  color: #1f2c3d;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
}

.combine-form_checkbox-icon {
  width: 1rem;
  height: 1rem;
  margin: 0rem 0.5rem 0rem 0rem;
  border-color: #8c94a5;
  border-radius: 0.125rem;
  cursor: pointer;
}

.combine-form_checkbox-icon:hover {
  border-color: #5f6570;
}

.combine-form_checkbox-icon.w--redirected-checked {
  width: 1rem;
  height: 1rem;
  margin: 0rem 0.5rem 0rem 0rem;
  border-color: #6157f8;
  border-radius: 0.125rem;
  background-color: #6157f8;
  background-size: 90%;
}

.combine-form_checkbox-icon.w--redirected-focus {
  width: 1rem;
  height: 1rem;
  margin: 0rem 0.5rem 0rem 0rem;
  border-color: #6157f8;
  border-radius: 0.125rem;
  box-shadow: none;
}

.combine-form_checkbox {
  display: flex;
  margin-bottom: 0.5rem;
  padding-left: 0rem;
  align-items: center;
}

.combine-form_field-wrapper {
  margin-bottom: 1.25rem;
}

.combine-form_text-area-grey {
  height: 100%;
  min-height: 8rem;
  min-width: 16rem;
  margin-bottom: 0rem;
  padding: 0.5rem 1.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f3f7;
  border-radius: 0.5rem;
  background-color: #f2f3f7;
  transition: border-color 250ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #1f2c3d;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.combine-form_text-area-grey:hover {
  border-color: #d9dce2;
}

.combine-form_text-area-grey:focus {
  border-color: #6157f8;
}

.combine-form_text-area-grey::-moz-placeholder {
  color: #bfc4ce;
}

.combine-form_text-area-grey::-ms-input-placeholder {
  color: #bfc4ce;
}

.combine-form_text-area-grey::placeholder {
  color: #bfc4ce;
}

.combine-form_label {
  margin-bottom: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  color: #1f2c3d;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.combine-form_input-grey {
  height: 3rem;
  min-width: 16rem;
  margin-bottom: 0rem;
  padding: 0.5rem 1.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f3f7;
  border-radius: 0.5rem;
  background-color: #f2f3f7;
  transition: border-color 250ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #1f2c3d;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.combine-form_input-grey:hover {
  border-color: #d9dce2;
}

.combine-form_input-grey:focus {
  border-color: #6157f8;
}

.combine-form_input-grey::-moz-placeholder {
  color: #bfc4ce;
}

.combine-form_input-grey::-ms-input-placeholder {
  color: #bfc4ce;
}

.combine-form_input-grey::placeholder {
  color: #bfc4ce;
}

.combine-form_form {
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.combine-contact2_form-wrapper {
  width: 100%;
  max-width: 36rem;
  margin-bottom: 0rem;
}

.combine-text-size-regular {
  margin-bottom: 0rem;
  font-family: 'Open Sans', sans-serif;
  color: #5f6570;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.combine-icon_medium {
  width: 2.25rem;
  height: 2.25rem;
}

.combine-icon_color3 {
  color: #f8b34b;
}

.combine-contact2_feature {
  display: flex;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.combine-icon_color2 {
  color: #00a1c1;
}

.combine-icon_color1 {
  color: #6157f8;
}

.combine-heading-style-h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: 'Open Sans', sans-serif;
  color: #1f2c3d;
  font-size: 3rem;
  line-height: 1.35;
  font-weight: 700;
}

.combine-contact2_content {
  display: flex;
  width: 100%;
  max-width: 33rem;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.combine-contact2_component {
  display: flex;
  justify-content: center;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.combine-padding-section-medium {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.combine-container-large {
  width: 100%;
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

.combine-padding-global {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.combine-section_contact2 {
  background-color: #fff;
}

.body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section-15 {
  margin-top: 51px;
  padding-top: 365px;
  background-color: #1c2e3b;
}

.columns-15 {
  margin-top: 15px;
}

.container-14 {
  margin-top: -533px;
  padding-top: 529px;
  background-image: url('../images/nrd-c3tNiAb098I-unsplash-1.jpg');
  background-position: 50% 50%;
  background-size: auto;
}

.container-15 {
  margin-top: -531px;
  padding-top: 530px;
  background-image: url('../images/campaign-creators-qCi_MzVODoU-un.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.text-span-34 {
  color: #e7b122;
}

.link {
  color: #e7b122;
}

.bold-text-29 {
  color: #1c2e3b;
}

.image-19 {
  margin-left: -22px;
}

.image-20 {
  margin-top: -33px;
}

.bold-text-30 {
  color: #1c2e3b;
}

.bold-text-31 {
  color: #1c2e3b;
}

.bold-text-32 {
  color: #1c2e3b;
}

.text-span-35 {
  color: #1c2e3b;
}

.bold-text-33 {
  color: #1c2e3b;
}

.bold-text-34 {
  color: #1c2e3b;
}

.bold-text-35 {
  color: #1c2e3b;
}

.bold-text-36 {
  color: #1c2e3b;
}

.bold-text-37 {
  color: #1c2e3b;
}

.bold-text-38 {
  color: #1c2e3b;
}

.bold-text-39 {
  color: #1c2e3b;
}

.bold-text-40 {
  color: #1c2e3b;
}

.bold-text-41 {
  color: #1c2e3b;
}

.bold-text-42 {
  color: #1c2e3b;
}

.button-5 {
  margin-top: 32px;
  margin-left: 392px;
  background-color: #e7b122;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.text-block-30 {
  margin-left: 142px;
  font-size: 16px;
  font-weight: 700;
}

.text-span-36 {
  color: #e7b122;
}

.bold-text-43 {
  width: 59.3329520035957%;
  height: 107.72727619517933%;
}

.columns-16 {
  margin-top: 32px;
}

.image-22 {
  margin-top: -363px;
}

.section-18 {
  margin-top: 492px;
  background-color: #1c2e3b;
}

.columns-17 {
  margin-bottom: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.link-block {
  color: #000;
  font-style: normal;
  text-decoration: none;
}

.image-23 {
  margin-top: -403px;
  margin-left: 588px;
  padding-left: 0px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
  }

  .navbar-brand-three {
    position: relative;
  }

  .nav-menu-wrapper-three {
    top: 70px;
    background-color: transparent;
  }

  .nav-menu-three {
    display: flex;
    margin-top: 10px;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    background-color: #a6b1bf;
    color: #fff;
  }

  .container-2 {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: transparent;
  }

  .nav-menu-two {
    display: flex;
    margin-top: 10px;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-link-2 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: absolute;
  }

  .menu-button-2 {
    padding: 12px;
  }

  .menu-button-2.w--open {
    background-color: #a6b1bf;
    color: #fff;
  }

  .container-3 {
    max-width: 728px;
  }

  .gallery-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .container-8 {
    max-width: 728px;
  }

  .nav-menu-wrapper-2 {
    background-color: transparent;
  }

  .nav-menu-two-2 {
    display: flex;
    margin-top: 10px;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-link-3 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .nav-dropdown-list-3.shadow-three.w--open {
    position: absolute;
  }

  .menu-button-3 {
    padding: 12px;
  }

  .menu-button-3.w--open {
    background-color: #a6b1bf;
    color: #fff;
  }

  .combine-form_input-grey {
    min-width: 12rem;
  }

  .combine-heading-style-h2 {
    font-size: 2.5rem;
  }

  .combine-padding-global {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand-three {
    padding-left: 0px;
  }

  .nav-menu-three {
    padding-bottom: 30px;
    flex-direction: column;
    border-radius: 20px;
  }

  .nav-menu-block {
    flex-direction: column;
  }

  .nav-link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-link-accent {
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .hero-stack {
    padding: 60px 15px;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0px;
  }

  .nav-menu-two {
    padding-bottom: 30px;
    flex-direction: column;
    border-radius: 20px;
  }

  .nav-link-2 {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-dropdown-toggle-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list-2.shadow-three {
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list-2.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent-2 {
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mobile-margin-top-11 {
    margin-top: 10px;
  }

  .navbar-logo-left-container-2 {
    max-width: 100%;
  }

  .navbar-brand-2 {
    padding-left: 0px;
  }

  .nav-menu-two-2 {
    padding-bottom: 30px;
    flex-direction: column;
    border-radius: 20px;
  }

  .nav-link-3 {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-dropdown-toggle-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list-3.shadow-three {
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-dropdown-list-3.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list-3.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider-2 {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent-3 {
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mobile-margin-top-12 {
    margin-top: 10px;
  }

  .combine-form_text-area-grey {
    min-width: 0rem;
  }

  .combine-form_input-grey {
    min-width: 0rem;
  }

  .combine-contact2_component {
    flex-direction: column;
  }

  .combine-padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .nav-menu-three {
    flex-direction: column;
  }

  .container-2 {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .section {
    padding-top: 77%;
  }

  .container-4 {
    height: 100%;
  }

  .heading-16 {
    width: auto;
    height: auto;
    margin-left: 30px;
    padding-right: 0px;
    padding-left: 37px;
    text-align: left;
  }

  .bold-text-11 {
    margin-left: -50px;
  }

  .column-11 {
    background-size: cover;
  }

  .paragraph-6 {
    margin-left: 59px;
    padding-right: 60px;
    padding-left: 0px;
  }

  .column-12 {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .list {
    padding-left: 54px;
  }

  .container-3 {
    max-width: none;
    margin-left: 151px;
  }

  .heading-3 {
    margin-left: 37px;
  }

  .gallery-image.shadow-two {
    width: 500px;
    height: auto;
    margin-left: 108px;
    padding-right: 46px;
    padding-left: 61px;
  }

  .gallery-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .button-2 {
    margin-top: 30px;
    margin-left: 220px;
  }

  .gallery-image-text {
    margin-bottom: -20px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .text-block-7 {
    margin-left: -78px;
  }

  .image-4 {
    margin-top: auto;
  }

  .heading-5 {
    margin-left: -235px;
  }

  .image-5 {
    width: 100px;
    height: 100px;
    margin-top: -10px;
    margin-left: -23px;
    padding-top: 0px;
  }

  .bold-text-9 {
    margin-top: -146px;
  }

  .paragraph {
    margin-top: 159px;
  }

  .column-5 {
    margin-top: -268px;
  }

  .columns {
    margin-top: 59px;
    margin-left: 35px;
  }

  .image-6 {
    width: 100px;
    margin-top: -256px;
    margin-left: 206px;
  }

  .column {
    position: relative;
    margin-top: 22px;
    padding-left: 0px;
    text-align: left;
  }

  .text-block-12 {
    margin-top: 10px;
    margin-left: 136px;
  }

  .image-7 {
    width: 100px;
    margin-top: 46px;
    margin-left: -11px;
  }

  .heading-8 {
    margin-top: auto;
  }

  .text-block-10 {
    margin-top: -81px;
    margin-left: 202px;
  }

  .columns-2 {
    margin-left: 41px;
  }

  .text-block-11 {
    margin-top: 15px;
    margin-left: 8px;
  }

  .text-block-13 {
    margin-top: -99px;
    margin-right: 0px;
    margin-left: -20px;
    padding-left: 0px;
    text-align: left;
  }

  .image-10 {
    width: 100px;
    margin-top: -305px;
    margin-left: 202px;
  }

  .image-8 {
    width: 100px;
    margin-top: -282px;
    margin-left: 197px;
  }

  .text-block-9 {
    margin-top: -99px;
    margin-left: 188px;
  }

  .image-9 {
    width: 100px;
    margin-top: -51px;
    margin-left: -21px;
    padding-top: 13px;
  }

  .column-2 {
    padding-top: 66px;
    padding-left: 0px;
  }

  .section-3 {
    width: 99.9999985271439%;
    height: 3%;
  }

  .paragraph-2 {
    margin-left: 0px;
    padding-right: 0px;
  }

  .column-7 {
    padding-right: 37px;
    padding-left: 26px;
  }

  .paragraph-4 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .text-block-18 {
    margin-left: 0px;
  }

  .column-10 {
    margin-top: 85px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .text-block-21 {
    margin-top: 72px;
    margin-left: 0px;
  }

  .paragraph-5 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .section-6 {
    width: 127.5096584010769%;
    height: 6%;
    margin-left: -114px;
    padding-left: 0px;
  }

  .container-6 {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .heading-17 {
    margin-top: 20px;
    margin-left: 135px;
  }

  .text-block-23 {
    margin-right: -41px;
    margin-left: 89px;
    padding-right: 72px;
  }

  .bold-text-16 {
    padding-left: 0px;
  }

  .heading-19 {
    margin-bottom: 40px;
    padding-right: 16px;
    padding-left: 5px;
    font-size: 18px;
  }

  .heading-18 {
    margin-left: -185px;
    padding-left: 181px;
    font-size: 18px;
  }

  .column-16 {
    margin-top: 46px;
  }

  .button-3 {
    margin-top: 31px;
    margin-left: 106px;
  }

  .columns-9 {
    margin-top: -53px;
    padding-right: 33px;
    padding-left: 36px;
  }

  .column-14 {
    padding-right: 37px;
    padding-left: 1px;
  }

  .bold-text-17 {
    font-size: 18px;
  }

  .image-14 {
    margin-left: 10px;
  }

  .paragraph-7 {
    margin-right: 9px;
    margin-left: 40px;
  }

  .column-17 {
    margin-top: 54px;
  }

  .text-block-24 {
    margin-left: 13px;
  }

  .paragraph-9 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 52px;
    padding-left: 44px;
  }

  .container-8 {
    max-width: none;
  }

  .nav-menu-two-2 {
    flex-direction: column;
  }

  .container-10 {
    margin-top: 157px;
  }

  .image-16 {
    margin-top: 64px;
    margin-left: 3px;
  }

  .image-17 {
    margin-left: 2px;
  }

  .heading-20 {
    margin-left: 108px;
  }

  .paragraph-10 {
    margin-right: 30px;
    margin-left: 19px;
    padding-right: 0px;
  }

  .column-19 {
    display: flex;
    flex-direction: column;
  }

  .column-20 {
    margin-top: -646px;
    padding-top: 0px;
    padding-bottom: 280px;
  }

  .heading-22 {
    margin-top: 177px;
    font-size: 30px;
  }

  .paragraph-11 {
    margin-top: -32px;
    margin-left: 56px;
    padding-top: 90px;
    text-align: justify;
  }

  .column-21 {
    margin-top: 124px;
    padding-top: 314px;
  }

  .heading-24 {
    margin-top: -284px;
    margin-left: -4px;
    font-size: 30px;
    text-align: center;
  }

  .paragraph-12 {
    margin-left: 4px;
    padding-right: 20px;
    padding-left: 47px;
    text-align: justify;
  }

  .column-23 {
    margin-top: -80px;
    padding-top: 341px;
  }

  .column-24 {
    margin-top: -689px;
    padding-top: 284px;
  }

  .heading-25 {
    margin-top: -103px;
    margin-left: 35px;
    padding-top: 0px;
    padding-bottom: 244px;
    font-size: 30px;
    text-align: center;
  }

  .paragraph-13 {
    margin-top: -228px;
    margin-right: -1px;
    margin-left: -21px;
    padding-right: 23px;
    text-align: justify;
  }

  .container-13 {
    margin-top: 15px;
  }

  .paragraph-15 {
    margin-right: 21px;
    margin-left: -127px;
    padding-right: 22px;
    padding-left: 163px;
    text-align: justify;
  }

  .column-25 {
    margin-top: 55px;
    padding-top: 265px;
  }

  .column-26 {
    padding-top: 466px;
  }

  .paragraph-18 {
    margin-left: -271px;
    padding-right: 50px;
    padding-left: 329px;
    text-align: justify;
  }

  .heading-29 {
    font-size: 30px;
    text-align: center;
  }

  .column-27 {
    padding-top: 277px;
  }

  .heading-31 {
    margin-top: -482px;
    margin-left: -6px;
    font-size: 30px;
    text-align: center;
  }

  .paragraph-19 {
    margin-right: 26px;
    margin-left: -87px;
    padding-right: 16px;
    padding-left: 115px;
    text-align: justify;
  }

  .column-30 {
    margin-top: -625px;
    padding-top: 261px;
  }

  .heading-32 {
    margin-top: -240px;
    margin-bottom: -397px;
    margin-left: 595px;
  }

  .paragraph-20 {
    margin-top: -154px;
    margin-left: 35px;
    padding-right: 66px;
    text-align: justify;
  }

  .section-14 {
    margin-left: 8px;
  }

  .column-31 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .heading-34 {
    margin-left: -1px;
  }

  .text-block-29 {
    margin-left: 17px;
  }

  .combine-padding-global {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .container-14 {
    margin-top: -432px;
    padding-top: 446px;
  }

  .image-20 {
    margin-top: 13px;
    margin-left: 1px;
  }

  .bold-text-32 {
    margin-right: 42px;
    margin-left: -5px;
  }

  .bold-text-34 {
    margin-left: -50px;
  }

  .button-5 {
    margin-left: 125px;
  }

  .bold-text-43 {
    width: auto;
    height: auto;
    margin-left: auto;
    font-size: 30px;
    line-height: 50px;
    text-align: left;
  }

  .section-16 {
    width: 100%;
    height: 21%;
  }

  .column-35 {
    padding-top: 58px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-36 {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .bold-text-44 {
    margin-left: 172px;
  }

  .column-37 {
    padding-left: 0px;
  }

  .text-block-31 {
    margin-left: -181px;
  }

  .section-17 {
    padding-top: 282px;
    padding-bottom: 0px;
  }

  .image-21 {
    padding-left: 22px;
  }

  .body-2 {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .section-18 {
    margin-top: 454px;
    padding-top: 0px;
    padding-bottom: 15px;
    background-color: #1c2e3b;
  }

  .column-38 {
    margin-top: 47px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .bold-text-45 {
    margin-left: -48px;
  }

  .bold-text-46 {
    margin-left: -45px;
  }

  .bold-text-47 {
    margin-left: -47px;
  }

  .bold-text-48 {
    margin-left: -49px;
  }

  .bold-text-49 {
    margin-left: -153px;
  }

  .columns-18 {
    margin-top: 150px;
  }

  .bold-text-50 {
    margin-left: -23px;
  }

  .columns-19 {
    margin-top: -102px;
  }
}

#w-node-ec1b7264-94ff-ddfc-6669-ec01e983e971-de8150b0 {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#virtual-booths.w-node-ec1b7264-94ff-ddfc-6669-ec01e983e972-de8150b0 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 3;
      grid-row-start: span 3;
  -ms-grid-row-span: 3;
  grid-row-end: span 3;
  -ms-grid-column-align: center;
      justify-self: center;
}

#w-node-e5c84570-3513-96d4-d196-9f38afa8aae0-de8150b0 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#access-dash.w-node-ec1b7264-94ff-ddfc-6669-ec01e983e97d-de8150b0 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ec1b7264-94ff-ddfc-6669-ec01e983e97e-de8150b0 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#lead-retrieval.w-node-ec1b7264-94ff-ddfc-6669-ec01e983e985-de8150b0 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ec1b7264-94ff-ddfc-6669-ec01e983e986-de8150b0 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#lead-scoring.w-node-ec1b7264-94ff-ddfc-6669-ec01e983e98a-de8150b0 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ec1b7264-94ff-ddfc-6669-ec01e983e98b-de8150b0 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#sponsored-sections.w-node-ec1b7264-94ff-ddfc-6669-ec01e983e98f-de8150b0 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ec1b7264-94ff-ddfc-6669-ec01e983e990-de8150b0 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 479px) {
  #w-node-ec1b7264-94ff-ddfc-6669-ec01e983e971-de8150b0 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

